<section id="background"  >
    <div id="searchAddContent">
        <div id="searchAddSearch">
            <form action="/foodlog/search" method="POST">
                <label>New Search:
                    <input type="text" name="search" id="searchAddInput">
                </label>
                <button type="submit"  class="button is-success">Search</button>
            </form>
        </div>
        ${searchResults ? `
            <div id="searchAddResultsLayout">
            <div id="searchAddResults">
            ${searchResults.map(food => `
                ${food.brandOwner ? `
                <div id="searchResult"><form action="/foodlog/nutritiondata" method="POST" id="searchForm">
                    <h2>${food.description}</h2><p>${food.brandOwner}</p></li>
                    <input type="hidden" name="id" value="${food.fdcId}"/>
                    <button type="submit" class="button is-success">Food info</button>
                </form></div>
                `:""}
                `).join('')}
            </div>
            <div id="searchAddInstructions">
                <h3 class="title">Here are your search results!</h3>
                <p>Please select the item that best matches your search!</p>
            </div>
            </div>
        `:""}
    ${info ? `
        <form action="/foodlog/log" method="POST" id="searchResultForm">
            <div id="addToLogDiv">
                <div>
                    <input type="hidden" name="name"  value="${info.description}"/><h1 id="nutritionTitle">${info.description}</h1>
                    <input type="hidden" name="brand" value="${info.brandOwner}"/><h3>${info.brandOwner}</h3>
                    <p>Servings to add to log:</p><input type="number" name="servings" value="1"> 
                    <button type="submit">Add to Log</button>
                </div>
            </div>
            <div id="nutritionSide">
                <div id="nutritionContainer">
                    <div id="nutritionFacts">
                        <p id="nutritionTitle">Nutrition Facts</p>
                        <div id="servingDiv">
                            <p>Serving size:</p><p>${info.householdServingFullText}</p>
                        </div>
                        ${info.labelNutrients.calories ? `<div id="caloriesDiv"><input type="hidden" name="calories" value="${Math.round(info.labelNutrients.calories.value)}"/><p>Calories:</p><p> ${Math.round(info.labelNutrients.calories.value)}</p></div>`:`<div id="noCalories"><p>No calorie information provided! Please add: </p><input type="number" name="calories" style="font-size:20px;" value="0"></div>`}
                        ${info.labelNutrients.fat ? `<div id="nutrientDiv"><input type="hidden" name="fat" value="${Math.round(info.labelNutrients.fat.value)}"/><p>Total Fat:</p><p> ${Math.round(info.labelNutrients.fat.value)}g</p></div>`:""}
                        ${info.labelNutrients.saturatedFat ? `<div id="nutrientDiv"><input type="hidden" name="satfat" value="${Math.round(info.labelNutrients.saturatedFat.value)}"/><p>Saturated Fat:</p><p> ${Math.round(info.labelNutrients.saturatedFat.value)}g</p></div>`:""}
                        ${info.labelNutrients.transFat ? `<div id="nutrientDiv"><input type="hidden" name="transfat" value="${Math.round(info.labelNutrients.transFat.value)}"/><p>Trans Fat:</p><p> ${Math.round(info.labelNutrients.transFat.value)}g</p></div>`:""}
                        ${info.labelNutrients.cholesterol ? `<div id="nutrientDiv"><input type="hidden" name="cholesterol" value="${Math.round(info.labelNutrients.cholesterol.value)}"/><p>Cholesterol:</p><p> ${Math.round(info.labelNutrients.cholesterol.value)}mg</p></div>`:""}
                        ${info.labelNutrients.sodium ? `<div id="nutrientDiv"><input type="hidden" name="sodium" value="${Math.round(info.labelNutrients.sodium.value)}"/><p>Sodium:</p><p> ${Math.round(info.labelNutrients.sodium.value)}mg</p></div>`:""}
                        ${info.labelNutrients.carbohydrates ? `<div id="nutrientDiv"><input type="hidden" name="carbohydrates" value="${Math.round(info.labelNutrients.carbohydrates.value)}"/><p>Carbohydrates:</p><p> ${Math.round(info.labelNutrients.carbohydrates.value)}g</p></div>`:""}
                        ${info.labelNutrients.fiber ? `<div id="nutrientDiv"><input type="hidden" name="fiber" value="${Math.round(info.labelNutrients.fiber.value)}"/><p>Fiber:</p><p> ${Math.round(info.labelNutrients.fiber.value)}g</p></div>`:""}
                        ${info.labelNutrients.sugars ? `<div id="nutrientDiv"><input type="hidden" name="sugars" value="${Math.round(info.labelNutrients.sugars.value)}"/><p>Sugar:</p><p> ${Math.round(info.labelNutrients.sugars.value)}g</p></div>`:""}
                        ${info.labelNutrients.protein ? `<div id="nutrientDivProtein"><input type="hidden" name="protein" value="${Math.round(info.labelNutrients.protein.value)}"/><p>Protein:</p><p> ${Math.round(info.labelNutrients.protein.value)}g</p></div>`:""}
                        ${info.labelNutrients.calcium ? `<div id="nutrientDiv"><input type="hidden" name="calcium" value="${Math.round(info.labelNutrients.calcium.value)}"/><p>Calcium:</p><p> ${Math.round(info.labelNutrients.calcium.value)}mg</p></div>`:""}
                        ${info.labelNutrients.iron ? `<div id="nutrientDiv"><input type="hidden" name="iron" value="${Math.round(info.labelNutrients.iron.value)}"/><p>Iron:</p><p> ${Math.round(info.labelNutrients.iron.value)}mg</p></div>`:""}
                    </div>
                </div>
                <p>Ingredients:</p>
                <p>${info.ingredients}</p>
            </div>
        </form>
    `:""}
    </div>
</section>