<section class="hero is-primary is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">MyVitalog</h1>
            <h4 class="subtitle">Get your health back on track!</h4>
        </div>
    </div>
</section>
<section class="container">
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p class=><em>"Just 1 in 10 adults meet the federal fruit or vegetable recommendations"</em>- Center for Disease Control and Prevention</p>
        </div>
        <div class="tile is-child box">
            <p class=><em>"Americans are eating and drinking too much added sugars which can lead to health problems such as weight gain and obesity, type 2 diabetes, and heart disease."</em> - Center for Disease Control and Prevention</p>
        </div>
        </div>
        <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title">Did You Eat Your Veggies?</p>
            <p class=>Chances are, you're not getting your daily recommended dose of vitamins and nurtients, or the proper servings from the different food groups. In a fast-paced world that is only going to start moving faster, it's hard to remember to keep your nutritional health in mind, let alone track it while on the go.</p>
        </div>
    </div>
</div>
</section>