<table class="table">
    <tr>
        <th>VITAMIN</th>
        <th>WHAT IT DOES</th>
        <th>DEFICIENCIES</th>
        <th>TOXICITIES</th>
        <th>WHERE IS IT FOUND</th>
        <th>DAILY VALUE*</th>
        </tr>
    <tr>
        <td>Vitamin A</td>
        <td>•	Growth	and	development
            •	Immune	function
            •	Reproduction
            •	Red	blood	cell	formation
            •	Skin	and	bone	formation
            •	Vision</td>
        <td>Night blindness, xerosis, Bitot's spot, keratomalacia, perifollicular hyperkeratosis, anorexia, bone changes</td>
        <td>Anorexia, headache, blurred vision, dry skin, pruritus, painful extremities, hepatomegaly, splenomegaly</td>
        <td>•	Cantaloupe
            •	Carrots
            •	Dairy	products	
            •	Eggs
            •	Fortified	cereals	
            •	Green	leafy	vegetables	(e.g.,	spinach	
            and	broccoli)
            •	Pumpkin
            •	Red	peppers	
            •	Sweet	potatoes</td>
        <td>5,000	IU</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>
    <tr>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
        <td>Senzu</td>
        <td>Ki</td>
    </tr>

    <tr>
        <th>MINERALS</th>
        <th>WHAT IT DOES</th>
        <th>DEFICIENCIES</th>
        <th>TOXICITIES</th>
        <th>WHERE IS IT FOUND</th>
        <th>DAILY VALUE*</th>
        </tr>
    <tr>
</table>
