<section class="hero is-primary is-success">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">VitaFacts</p>
            <p class="subtitle">Free information for the health conscious!</p>
        </div>
    </div>
</section>
<div class="tabs is-centered is-large">
        <ul>
            <li onclick="openTab('Vitamins')"><a>Vitamins</a></li>
            <li onclick="openTab('Minerals')"><a>Minerals</a></li>
            <li onclick="openTab('Proteins')"><a>Proteins</a></li>
            <li onclick="openTab('Fats')"><a>Fats</a></li>
            <li onclick="openTab('Carbohydrates')"><a>Carbohydrates</a></li>
        </ul>
</div>

<div id="Vitamins" class="info-tab">
    <section class="container">
        
        <table class="table is-bordered is-hoverable">
                <tr class="is-selected">
                    <th>VITAMIN</th>
                    <th>FUNCTION</th>
                    <th>SOURCES</th>
                    </tr>
                <tr>
                    <td>Vitamin A</td>
                    <td>
                        Vitamin A is important for normal vision, the immune system, and reproduction. Vitamin A also helps the heart, lungs, kidneys, and other organs work properly.
                    </td>
                    <td>
                        Cantaloupe •
                        Carrots •
                        Dairy products •	
                        Eggs •
                        Fortified cereals •	
                        Green leafy	vegetables (e.g.,spinach	
                        and	broccoli) •
                        Pumpkin •
                        Red	peppers •	
                        Sweet potatoes
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B1 (Thiamin)</td>
                    <td>
                        Thiamin (also called vitamin B1) helps turn the food you eat into the energy you need. Thiamin is important for the growth, development, and function of the cells in your body.
                    </td>
                    <td>
                        Beans and peas •
                        Enriched grain products (e.g., bread,	
                        cereal,	pasta, rice) •
                        Nuts •
                        Pork •
                        Sunflower seeds •
                        Whole grains
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B2 (Riboflavin)</td>
                    <td>
                        Riboflavin plays a major role in energy production; cellular function, growth, and development; and metabolism of fats, drugs, and steroids.
                    </td>
                    <td>
                            Almonds •
                            Avocados •
                            Beef •
                            Eggs •
                            Fish •
                            Milk •
                            Mushrooms •
                            Pork •
                            Spinach •
                            Tofu •
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B3 (Niacin)</td>
                    <td>
                        Niacin is another B-vitamin that converts food to energy, and stimulates development and function of cells.
                    </td>
                    <td>
                            Avocado •
                            Eggs •
                            Enriched breads and fortified cereals •
                            Fish (tuna and salt-water fish) •
                            Lean meats •
                            Legumes •
                            Nuts •
                            Potato •
                            Poultry
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B5 (Pantothenic Acid)</td>
                    <td>
                            Vitamin B5 is important for many functions in the body, especially making and breaking down fats.
                    </td>
                    <td>
                            Avocado •
                            Broccoli, kale, and other vegetables in the cabbage family •
                            Eggs •
                            Legumes and lentils •
                            Milk •
                            Mushroom •
                            Organ meats •
                            Poultry •
                            White and sweet potatoes •
                            Whole-grain cereals
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B6 (Pyridoxine)</td>
                    <td>
                        The body needs vitamin B6 for more than 100 enzyme reactions involved in metabolism. Vitamin B6 is also involved in brain development during pregnancy and infancy as well as immune function.
                    </td>
                    <td>
                            Avocado •
                            Banana •
                            Legumes (dried beans) •
                            Meat •
                            Nuts •
                            Poultry •
                            Whole grains (milling and processing removes a lot of this vitamin)
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B7 (Biotin)</td>
                    <td>
                        Biotin helps turn the carbohydrates, fats, and proteins in the food you eat into the energy you need.
                    </td>
                    <td>
                            Chocolate •
                            Cereal •
                            Egg yolk •
                            Legumes •
                            Milk •
                            Nuts •
                            Organ meats (liver, kidney) •
                            Pork •
                            Yeast
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B9 (Folic Acid/Folate)</td>
                    <td>
                        Your body needs folate to make DNA and other genetic material. Your body also needs folate for your cells to divide. A form of folate, called folic acid, is used in fortified foods and most dietary supplements.
                    </td>
                    <td>
                        Asparagus and broccoli •
                        Beets •
                        Brewer's yeast •
                        Dried beans (cooked pinto, navy, kidney, and lima) •
                        Fortified cereals •
                        Green, leafy vegetables (spinach and romaine lettuce) •
                        Lentils •
                        Oranges and orange juice •
                        Peanut butter •
                        Wheat germ
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B12 (Cyanocobalamin)</td>
                    <td>
                        Vitamin B12 helps keep the body’s nerve and blood cells healthy and helps make DNA. Vitamin B12 also helps prevent a type of anemia called megaloblastic anemia that makes people tired and weak.
                    </td>
                    <td>
                            Meat •
                            Eggs •
                            Fortified foods such as soymilk •
                            Milk and milk products •
                            Organ meats (liver and kidney) •
                            Poultry •
                            Shellfish
                    </td>
                </tr>                
                <tr>
                    <td>Vitamin C (Ascorbic Acid)</td>
                    <td>
                        Vitamin C acts as an antioxidant, helping to protect cells from damage. The body also needs vitamin C to make collagen. Vitamin C also improves the absorption of iron from plant-based foods and helps the immune system work properly to protect the body from disease.
                    </td>
                    <td>
                            Broccoli •
                            Brussels sprouts •
                            Cabbage •
                            Cauliflower •
                            Citrus fruits •
                            Potatoes •
                            Spinach •
                            Strawberries •
                            Tomatoes and tomato juice
                    </td>
                </tr>
                <tr>
                    <td>Vitamin D</td>
                    <td>
                        Vitamin D is needed for health and to maintain strong bones. It does so by helping the body absorb calcium from food and supplements. It helps muscles move, helps nerves carry message to the brain, and helps the immune system fight off bacteria and viruses.
                    </td>
                    <td>
                            Fish (fatty fish such as salmon, mackerel, herring, and orange roughy) •
                            Fish liver oils (cod liver oil) •
                            Fortified cereals •
                            Fortified milk and dairy products (cheese, yogurt, butter, and cream)
                    </td>
                </tr>
                <tr>
                    <td>Vitamin E (Tocopherol)</td>
                    <td>
                        Vitamin E is an antioxidant and immune system booster. It helps to widen blood vessels and keep blood from clotting within them. Cells also use Vitamin E to converse.
                    </td>
                    <td>
                        Avocado •
                        Dark green vegetables (spinach, broccoli, asparagus, and turnip greens) •
                        Margarine (made from safflower, corn, and sunflower oil)•
                        Oils (safflower, corn, and sunflower) •
                        Papaya and mango •
                        Seeds and nuts •
                        Wheat germ and wheat germ oil
                    </td>
                </tr>
                <tr>
                    <td>Vitamin K</td>
                    <td>
                        Vitamin K is a nutrient that the body needs to stay healthy. It’s important for blood clotting and healthy bones.
                    </td>
                    <td>
                            Cabbage •
                            Cauliflower •
                            Cereals •
                            Dark green vegetables (broccoli, Brussels sprouts, and asparagus) •
                            Dark leafy vegetables (spinach, kale, collards, and turnip greens) •
                            Fish, liver, beef, and eggs
                    </td>
                </tr>
            </table>
    </section>
</div>
<div id="Minerals" style="display: none;" class="info-tab">
    <section class="container">
        <table class="table is-bordered is-hoverable">    
                <tr class="is-selected">
                    <th>MINERAL</th>
                    <th>WHAT IT DOES</th>
                    <th>DEFICIENCIES</th>
                    <th>TOXICITIES</th>
                    <th>WHERE IS IT FOUND</th>
                    <th>DAILY VALUE*</th>
                </tr>
                <tr>
                    <td>Calcium</td>
                    <td>•	Blood	clotting	
                        •	Bone	and	teeth	formation
                        •	Constriction	and	relaxation	of	
                        blood	vessels	
                        •	Hormone	secretion
                        •	Muscle	contraction
                        •	Nervous	system	function
                    </td>
                    <td>Tetany, depression, anxiety, irritability, bone pain, osteoporosis, rickets/ chondromalacia
                    </td>
                    <td>Constipation, hypercalciuria, hypercalcemia</td>
                    <td>•	Almond,	rice,	coconut,	and	hemp	milks	
                    •	Canned	seafood	with	bones		
                    (e.g.,	salmon	and	sardines)
                    •	Dairy	products
                    •	Fortified	cereals	and	juices
                    •	Fortified	soy	beverages	(soymilk)
                    •	Green	vegetables	(e.g.,	spinach,	kale,	
                    broccoli,	turnip	greens)
                    •	Tofu	(made	with	calcium	sulfate)</td>
                    <td>1,000	mg</td>
                </tr>
                <tr>
                    <td>Chloride</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Chromium</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Copper</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Iodine</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Iron <br>Nutrient of concern
                    for young children,
                    pregnant women, and
                    women capable of
                    becoming pregnant</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Magnesium</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Manganese</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Molybdenum</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Phosphorus</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Potassium</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Selenium</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                    <td>Sodium*<br>Nutrient to get less of</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                    <td>Senzu</td>
                    <td>Ki</td>
                </tr>
                <tr>
                <td>Zinc</td>
                <td>Ki</td>
                <td>Senzu</td>
                <td>Ki</td>
                <td>Senzu</td>
                <td>Ki</td>
            </tr>
            </table>
    </section>
</div>
<div id="Proteins" style="display: none;" class="info-tab">
    <p>Videos of the Terror Dome</p>
</div>
<div id = "Fats" style="display: none;" class="info-tab">
    <p>Read about the Terror Dome</p>
</div>
<div id="Carbohydrates" style="display: none;" class="info-tab">
    <p>HNNNNNNNNNNNNGH TERROR DOME</p>
</div>