<section class="hero is-primary is-success">
    <div class="hero-body">
        <div class="container has-text-centered">
            <figure>
                <img src="./images/myvitalog-logo.png">
                <figcaption class="subtitle">Get your health back on track!</figcaption>    
            </figure>
            
        </div>
    </div>
</section>
<br>
<section class="container">
<div class="tile is-ancestor has-text-justified">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p class=><em>"Just 1 in 10 adults meet the federal fruit or vegetable recommendations"</em>- Center for Disease Control and Prevention (CDC)</p>
        </div>
        <div class="tile is-child box">
            <p><em>The typical American diet is too high in calories, saturated fat, sodium, and added sugars, and does not have enough fruits, vegetables, whole grains, calcium, and fiber.</em> -Center for Science in the Public Interest (CSPIN)</p>
        </div>
        </div>
        <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title">Did You Eat Your Fruits and Veggies?</p>
            <p class=>Chances are, you're not getting your daily recommended dose of vitamins and nurtients, or the proper servings from the different food groups. In a fast-paced world that is only going to start moving faster, it's hard to remember to keep your nutritional health in mind, let alone track it while on the go.</p>
            <figure class="image is-3by1">
                <img src="./images/close-up-delicious-eating-726024.jpg">
            </figure>
        </div>
    </div>
</div>
</section>
<br>
<section class="container has-text-justified">
    <div class="box">
        <p class="title">Know the Risks</p>
        <p><em>In the last 30 years, obesity rates have doubled in adults, tripled in children, and quadrupled in adolescents.</em> -CSPIN</p>
        <br>
        <p>Each year, nearly 700,000 deaths in the U.S. are a result of poor diets alone. This figure accounts for nearly 20% of all U.S. deaths, and is the leading cause of death in the U.S. According to <a href="https://www.livestrong.com/article/414312-why-people-dont-eat-healthy/">this livestrong article</a>, reasons given for poor dietary habits are cited are as follows:</p>
        <div class="content">
            <ol type="1">
                <li><strong>Poor Dietary Foundations</strong>: Eating habits developed as a child, such as always cleaning your plate and eating microwaved convenience foods.</li>
                <li><strong>Misinformation and Attitude</strong>: There are too many conflicting sources of information about nutrition. It can get confusing and complicated.</li>
                <li><strong>Low Motivation</strong>: You know you're not eating healthy, but it doesn't cause any distress right now, so why bother?</li>
                <li><strong>Slow Change</strong>: The results of a healthy lifestyle are slow and steady. Sometimes you don't see the results as quickly as you'd like, then give up.</li>
            </ol>
        </div>
    </div>
</section>
<br>
<section>
    <div class="box">
        <p class="title has-text-centered">Meet Vitalog</p>
        <p>Vitalog is a daily nutrition and vitamin tracker that helps you keep track of your calorie intake and get a better idea of what nutrients you're getting, and more importantly, lacking, throughout the day.</p>
    </div>
</section>
<br>
<section>
        <div class="tile is-ancestor has-text-justified">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Vitalog Features:</p>
                        <div class="content">
                            <ul>
                                <li><strong>Meal Tracker:</strong> Keep track of your calories by inputting food them into your daily logs.</li>
                                <li><strong>Food Log Database:</strong> Using our search feature, find over 1000 different food items to add to your personal food log.</li>
                                <li><strong>Consumption Notifications:</strong> Need reminders not to miss meals or when you've gone over your recommended amount of a particular nutrient? We've got you covered!</li>
                                <li><strong>VitaFacts:</strong> We've put together a comprehensive list of vitamin facts and figures, free for all users. Be informed about what's going into your body!</li>
                                <li><strong>Completely Free: </strong>You will never be charged a dime for our services. We're happy to help you meet your goals!</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <div class="content">
                            <figure class="image">
                                <img src="./images/beets-carrots-close-up-533360.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
        </div>
</section>
<section class="container">
    <a href="/users"><button class="button is-success is-large is-fullwidth">Sign Up Today!</button></a>
</section>