<section class="hero is-primary is-success">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">VitaFacts</p>
            <p class="subtitle">Free information for the health conscious!</p>
        </div>
    </div>
</section>
<div class="tabs is-centered is-large">
        <ul>
            <li onclick="openTab('Vitamins')"><a>Vitamins</a></li>
            <li onclick="openTab('Minerals')"><a>Minerals</a></li>
            <li onclick="openTab('Proteins')"><a>Proteins</a></li>
            <li onclick="openTab('Fats')"><a>Fats</a></li>
            <li onclick="openTab('Carbohydrates')"><a>Carbohydrates</a></li>
        </ul>
</div>

<div id="Vitamins" class="info-tab">
    <section class="has-text-centered">
        <h1 class="title">13 Essential Vitamins</h1>
    </section>
    <br>
    <section class="container">
            <div class="tile is-ancestor">
                    <div class="tile is-parent">
                    <article class="tile is-child box has-text-justified">
                        <p class="title">Water-Soluble Vitamins</p>
                        <p class="subtitle">Vitamins: B1, B2, B3, B5, B6, B7, B9, B12, C</p>
                        <div class="content">
                        <p>Water-soluble vitamins dissolve in water, meaning they also dissolve quickly in your body. Unlike fat-soluble vitamins, water-soluble vitamins cannot be stored in the body, though they are carried to the body's tissues, which is why we need to make sure we take these vitamins on a regular basis. Excess amounts of these vitamins simply pass through the body.</p>
                        </div>
                    </article>
                    </div>
                    <div class="tile is-parent">
                    <article class="tile is-child box has-text-justified">
                        <p class="title">Fat-Soluble Vitamins</p>
                        <p class="subtitle">Vitamins: A, D, E, K</p>
                        <div class="content">
                        <p>Fat-soluble vitamins are named as such because they are stored in the body's fatty tissue. These vitamins are stored in the body for a long periods of time, thus pose a greater risk when the foods that contain them are consumed in excess. Generally, you won't really have to worry about this in a regular diet, but taking pill supplements that contain high doses of these vitamins may lead to complications. There are some health problems, such as IBD, chronic pancreatitis, and cystic fibrosis, that may reduce the bodies absorption of fat-soluble vitamins. Consult your doctor if any of these conditions apply to you.</p>
                        </div>
                    </article>
                    </div>
                </div>
    </section>
    <br>
    <section class="container">
        
        <table class="table is-bordered is-hoverable">
                <tr class="is-selected">
                    <th>VITAMIN</th>
                    <th>FUNCTION</th>
                    <th>SOURCES</th>
                    </tr>
                <tr>
                    <td>Vitamin A</td>
                    <td>
                        Vitamin A is important for normal vision, the immune system, and reproduction. Vitamin A also helps the heart, lungs, kidneys, and other organs work properly.
                    </td>
                    <td>
                        Cantaloupe •
                        Carrots •
                        Dairy products •	
                        Eggs •
                        Fortified cereals •	
                        Green leafy	vegetables (e.g.,spinach	
                        and	broccoli) •
                        Pumpkin •
                        Red	peppers •	
                        Sweet potatoes
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B1 (Thiamin)</td>
                    <td>
                        Thiamin (also called vitamin B1) helps turn the food you eat into the energy you need. Thiamin is important for the growth, development, and function of the cells in your body.
                    </td>
                    <td>
                        Beans and peas •
                        Enriched grain products (e.g., bread,	
                        cereal,	pasta, rice) •
                        Nuts •
                        Pork •
                        Sunflower seeds •
                        Whole grains
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B2 (Riboflavin)</td>
                    <td>
                        Riboflavin plays a major role in energy production; cellular function, growth, and development; and metabolism of fats, drugs, and steroids.
                    </td>
                    <td>
                            Almonds •
                            Avocados •
                            Beef •
                            Eggs •
                            Fish •
                            Milk •
                            Mushrooms •
                            Pork •
                            Spinach •
                            Tofu •
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B3 (Niacin)</td>
                    <td>
                        Niacin is another B-vitamin that converts food to energy, and stimulates development and function of cells.
                    </td>
                    <td>
                            Avocado •
                            Eggs •
                            Enriched breads and fortified cereals •
                            Fish (tuna and salt-water fish) •
                            Lean meats •
                            Legumes •
                            Nuts •
                            Potato •
                            Poultry
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B5 (Pantothenic Acid)</td>
                    <td>
                            Vitamin B5 is important for many functions in the body, especially making and breaking down fats.
                    </td>
                    <td>
                            Avocado •
                            Broccoli, kale, and other vegetables in the cabbage family •
                            Eggs •
                            Legumes and lentils •
                            Milk •
                            Mushroom •
                            Organ meats •
                            Poultry •
                            White and sweet potatoes •
                            Whole-grain cereals
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B6 (Pyridoxine)</td>
                    <td>
                        The body needs vitamin B6 for more than 100 enzyme reactions involved in metabolism. Vitamin B6 is also involved in brain development during pregnancy and infancy as well as immune function.
                    </td>
                    <td>
                            Avocado •
                            Banana •
                            Legumes (dried beans) •
                            Meat •
                            Nuts •
                            Poultry •
                            Whole grains (milling and processing removes a lot of this vitamin)
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B7 (Biotin)</td>
                    <td>
                        Biotin helps turn the carbohydrates, fats, and proteins in the food you eat into the energy you need.
                    </td>
                    <td>
                            Chocolate •
                            Cereal •
                            Egg yolk •
                            Legumes •
                            Milk •
                            Nuts •
                            Organ meats (liver, kidney) •
                            Pork •
                            Yeast
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B9 (Folic Acid/Folate)</td>
                    <td>
                        Your body needs folate to make DNA and other genetic material. Your body also needs folate for your cells to divide. A form of folate, called folic acid, is used in fortified foods and most dietary supplements.
                    </td>
                    <td>
                        Asparagus and broccoli •
                        Beets •
                        Brewer's yeast •
                        Dried beans (cooked pinto, navy, kidney, and lima) •
                        Fortified cereals •
                        Green, leafy vegetables (spinach and romaine lettuce) •
                        Lentils •
                        Oranges and orange juice •
                        Peanut butter •
                        Wheat germ
                    </td>
                </tr>
                <tr>
                    <td>Vitamin B12 (Cyanocobalamin)</td>
                    <td>
                        Vitamin B12 helps keep the body’s nerve and blood cells healthy and helps make DNA. Vitamin B12 also helps prevent a type of anemia called megaloblastic anemia that makes people tired and weak.
                    </td>
                    <td>
                            Meat •
                            Eggs •
                            Fortified foods such as soymilk •
                            Milk and milk products •
                            Organ meats (liver and kidney) •
                            Poultry •
                            Shellfish
                    </td>
                </tr>                
                <tr>
                    <td>Vitamin C (Ascorbic Acid)</td>
                    <td>
                        Vitamin C acts as an antioxidant, helping to protect cells from damage. The body also needs vitamin C to make collagen. Vitamin C also improves the absorption of iron from plant-based foods and helps the immune system work properly to protect the body from disease.
                    </td>
                    <td>
                            Broccoli •
                            Brussels sprouts •
                            Cabbage •
                            Cauliflower •
                            Citrus fruits •
                            Potatoes •
                            Spinach •
                            Strawberries •
                            Tomatoes and tomato juice
                    </td>
                </tr>
                <tr>
                    <td>Vitamin D</td>
                    <td>
                        Vitamin D is needed for health and to maintain strong bones. It does so by helping the body absorb calcium from food and supplements. It helps muscles move, helps nerves carry message to the brain, and helps the immune system fight off bacteria and viruses.
                    </td>
                    <td>
                            Fish (fatty fish such as salmon, mackerel, herring, and orange roughy) •
                            Fish liver oils (cod liver oil) •
                            Fortified cereals •
                            Fortified milk and dairy products (cheese, yogurt, butter, and cream)
                    </td>
                </tr>
                <tr>
                    <td>Vitamin E (Tocopherol)</td>
                    <td>
                        Vitamin E is an antioxidant and immune system booster. It helps to widen blood vessels and keep blood from clotting within them. Cells also use Vitamin E to converse.
                    </td>
                    <td>
                        Avocado •
                        Dark green vegetables (spinach, broccoli, asparagus, and turnip greens) •
                        Margarine (made from safflower, corn, and sunflower oil)•
                        Oils (safflower, corn, and sunflower) •
                        Papaya and mango •
                        Seeds and nuts •
                        Wheat germ and wheat germ oil
                    </td>
                </tr>
                <tr>
                    <td>Vitamin K</td>
                    <td>
                        Vitamin K is a nutrient that the body needs to stay healthy. It’s important for blood clotting and healthy bones.
                    </td>
                    <td>
                            Cabbage •
                            Cauliflower •
                            Cereals •
                            Dark green vegetables (broccoli, Brussels sprouts, and asparagus) •
                            Dark leafy vegetables (spinach, kale, collards, and turnip greens) •
                            Fish, liver, beef, and eggs
                    </td>
                </tr>
            </table>
    </section>
</div>
<div id="Minerals" style="display: none;" class="info-tab">
    <section class="container">
        <table class="table is-bordered is-hoverable">    
                <tr class="is-selected">
                    <th>MINERAL</th>
                    <th>FUNCTION</th>
                    <th>SOURCES</th>
                </tr>
                <tr>
                    <td>Calcium</td>
                    <td>
                        Important for healthy bones and teeth; helps muscles relax and contract; important in nerve functioning, blood clotting, blood pressure regulation, immune system health.
                    </td>
                    <td>
                        Milk •
                        Fortified nondairy alternatives like soy milk, yogurt, hard cheeses •
                        Fortified cereals •
                        Kale
                    </td>
                </tr>
                <tr>
                    <td>Chloride</td>
                    <td>
                        Needed for proper fluid balance, and stomach acid.
                    </td>
                    <td>
                        Table salt •
                        soy sauce •
                        Large amounts in processed foods • 
                        Small amounts in milk, meats, breads, and vegetables
                    </td>
                </tr>
                <tr>
                    <td>Chromium</td>
                    <td>
                        Works closely with insulin to regulate blood sugar (glucose) levels.
                    </td>
                    <td>
                        Broccoli •
                        Potatoes •
                        Meats •
                        Poultry • 
                        Fish •
                        Some cereals
                    </td>
                </tr>
                <tr>
                    <td>Copper</td>
                    <td>
                        Helps your body metabolise iron.
                    </td>
                    <td>
                        Seafood •
                        Nuts •
                        Seeds • 
                        Wheat bran cereals •
                        Whole grains
                    </td>
                </tr>
                <tr>
                    <td>Iodine</td>
                    <td>
                        Found in thyroid hormone, which helps regulate growth, development, and metabolism.
                    </td>
                    <td>
                        Seaweed •
                        Seafood •
                        Dairy products • 
                        Processed foods • 
                        Iodized salt
                    </td>
                </tr>
                <tr>
                    <td>Iron</td>
                    <td>
                        Part of a molecule (hemoglobin) found in red blood cells that carries oxygen in the body; needed for energy metabolism.
                    </td>
                    <td>
                        Fortified cereals •
                        Beans •
                        Lentils • 
                        Beef •
                        Turkey (dark meat) • 
                        Soy beans •
                        Spinach
                    </td>
                </tr>
                <tr>
                    <td>Magnesium</td>
                    <td>
                        Found in bones; needed for making protein, muscle contraction, nerve transmission, and immune system health.
                    </td>
                    <td>
                        Green leafy vegetables •
                        Nuts •
                        Dairy • 
                        Soybeans • 
                        Potatoes •
                        Whole wheat • 
                        Quinoa
                    </td>
                </tr>
                <tr>
                    <td>Manganese</td>
                    <td>
                        Helps form bones and make some enzymes.
                    </td>
                    <td>
                        Nuts •
                        Beans and other legumes • 
                        Tea •
                        Whole grains
                    </td>
                </tr>
                <tr>
                    <td>Molybdenum</td>
                    <td>Needed to make some enzymes.</td>
                    <td>
                        Legumes •
                        Leafy vegetables • 
                        Grains •
                        Nuts
                    </td>
                </tr>
                <tr>
                    <td>Phosphorus</td>
                    <td>	
                        Important for healthy bones and teeth; found in every cell; part of the system that maintains acid-base balance.
                    </td>
                    <td>
                        Milk and other dairy products •
                        Peas •
                        Meat •
                        Eggs •
                        Some cereals and breads
                    </td>
                </tr>
                <tr>
                    <td>Potassium</td>
                    <td>
                        Helps control blood pressure, makes kidney stones less likely, nerve transmission, and muscle contraction.
                    </td>
                    <td>
                        Potatoes •
                        Bananas •
                        Yogurt •
                        Milk •
                        Yellowfin tuna • 
                        Soybeans •
                        Varieties of fruits and vegetables
                    </td>
                </tr>
                <tr>
                    <td>Selenium</td>
                    <td>Protects cells from damage. Helps manage thyroid hormone.</td>
                    <td>
                        Organ meats •
                        Seafood •
                        Dairy •
                        Some plants (if grown in soil with selenium) •
                        Brazil nuts
                    </td>
                </tr>
                <tr>
                    <td>Sodium</td>
                    <td>
                        Needed for proper fluid balance, nerve transmission, and muscle contraction.
                    </td>
                    <td>
                        Foods made with added salt, such as processed and restaurant foods
                    </td>
                </tr>
                <tr>
                <td>Zinc</td>
                <td>
                    Part of many enzymes; needed for making protein and genetic material; has a function in taste perception, wound healing, normal fetal development, production of sperm, normal growth, sexual maturation, and immune system health.
                </td>
                <td>
                    Red meats •
                    Some seafood • 
                    Fortified cereals
                </td>
            </tr>
            </table>
    </section>
</div>
<div id="Proteins" style="display: none;" class="info-tab">
    <p>Videos of the Terror Dome</p>
</div>
<div id = "Fats" style="display: none;" class="info-tab">
    <p>Read about the Terror Dome</p>
</div>
<div id="Carbohydrates" style="display: none;" class="info-tab">
    <p>HNNNNNNNNNNNNGH TERROR DOME</p>
</div>
