<section>
    <form action="/foodlog/search" method="POST">
        <label>Add Entry:
            <input type="text" name="search">
        </label>
        <button type="submit">Search</button>
    </form>
    <hr>
    ${searchResults ? `
        <ul>
        ${searchResults.map(food => `
            <li><form action="/foodlog/nutritiondata" method="POST">
                <h2 name="id" value="this" >${food.description}</h2><p>${food.brandOwner}</p></li>
                <button type="submit">Food info</button>
            </form>
            `).join('')}
        </ul>
    `:""}
</section>