<form action="/users/login" method="POST">
    <label>Email Address
        <input type="text" name="email_address">
    </label>
    <label>Password
            <input type="password" name="password">
    </label>
    <button type="submit">Login</button>
</form>
<hr>

<h3>Sign up</h3>
<form action="/users/sign-up" method="POST">
    <label>Account Name
        <input type="text" name="account_name">
    </label>
    <label>Email Address
        <input type="text" name="email_address">
    </label>
    <label>Password
        <input type="password" name="password">
    </label>
    <button type="submit">Create</button>
</form>