<section class="hero has-text-centered is-success">
    <div class="hero-body">
        <h2 class="title">Welcome to a Healthy Lifestyle!</h2>
    </div>
</section>
<section>
        <div class="tile is-ancestor has-text-justified">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">Sign Up</p>
                        <div class="content">
                                <div class="field">
                                        <div class="control">
                                            <form action="/users/sign-up" method="POST" class="form">
                                                <label class="label">Account Name
                                                    <input type="text" name="account_name" class="input">
                                                </label>
                                                <label class="label">Email Address
                                                    <input type="text" name="email_address" class="input">
                                                </label>
                                                <label class="label">Password
                                                    <input type="password" name="password" class="input">
                                                </label>
                                                <button type="submit" class="button is-success">Create</button>
                                            </form>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    <div class="tile is-child box">
                        <p class="title">Login</p>
                            <h3 class="Login"></h3>
                            <div class="field">
                                <div class="control">
                                    <form action="/users/login" method="POST" class="form">
                                        <label class="label">Email Address
                                            <input type="text" name="email_address" class="input">
                                        </label>
                                        <label class="label">Password
                                                <input type="password" name="password" class="input">
                                        </label>
                                        <button type="submit" class="button is-success">Login</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
</section>