${!!isLoggedIn ? `
<section>
    <form action="/foodlog/search" method="POST">
        <label>Add Entry:
            <input type="text" name="search">
        </label>
        <button type="submit">Search</button>
    </form>
    <h1>Today's Logs:</h1>
    <ul>
    ${logData.map(food => `
        <li>
            <h2>${food.name} - ${food.brand}</h2><p>calories: ${food.calories}</p>
        </li>
        `).join('')}
    </ul>
</section>
<section>
    <h1>Today you should aim for:</h1>
    ${recommend.calories>1 ?`<p>You should eat ${recommend.calories} more calories!</p>`
    :recommend.calories<0 ? `<p>You've gone over your recommended calories by ${Math.abs(recommend.calores)}</p>`:""};
    ${recommend.fat>1 ?`<p>You should try not to eat more than ${recommend.fat} grams of fat!</p>`
    :recommend.fat<0 ? `<p>You've gone over your recommended fat by ${Math.abs(recommend.fat)} grams!</p>`:""};
    ${recommend.cholesterol>1 ?`<p>You should try not to eat more than ${recommend.cholesterol} mg of cholesterol!</p>`
    :recommend.cholesterol<0 ? `<p>You've gone over your recommended cholesterol by ${Math.abs(recommend.cholesterol)} mg!</p>`:""};
    ${recommend.sodium>1 ?`<p>You should try not to eat more than ${recommend.sodium} mg of sodium!</p>`
    :recommend.sodium<0 ? `<p>You've gone over your recommended sodium by ${Math.abs(recommend.sodium)} mg!</p>`:""};
    ${recommend.carbohydrates>1 ?`<p>You should try not to eat more than ${recommend.carbohydrates} grams of carbohydrates!</p>`
    :recommend.carbohydrates<0 ? `<p>You've gone over your recommended carbohydrates by ${Math.abs(recommend.carbohydrates)} grams!</p>`:""};
    ${recommend.fiber>1 ?`<p>You should aim for at least ${recommend.fiber} grams of fiber!</p>`
    :recommend.fiber<0 ? `<p>You've eaten ${Math.abs(recommend.fiber)} extra grams of fiber! Nice!</p>`:""};
</section>
`:""};