#background {
    background-color: greenyellow;
}
#loglist {
    list-style-type: none;
}

#searchAddContent{
    background-color: white;
    border-top: solid 1px black;
}
#searchAddSearch{
    margin-top:5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;
}
#searchAddInput{
    width: 150px;
    height: 40px;
    font-size: 20px;
}
#searchAddResultsLayout{
    display: grid;
    grid-template-columns: 60% 40%;
}
#searchAddResults{
    height: 85vh;
    width: 100%;
    overflow: auto;
}
#searchResult{
    width: 98%;
    min-height: 50px;
    padding:5px;
    margin: 3px;
    margin-bottom: 10px;
    background-color:white;
    color: rgb(1, 53, 1);
    font-weight:bold;
    border: solid 2px black;
    border-radius: 10px;
}
#searchForm{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
#searchAddInstructions{
    padding: 15px;
}

#searchResultForm{
    display: grid;
    grid-template-columns: 50% 50%;
}

#addToLogDiv{
    display:flex;
    justify-content: center;
}
#nutritionSide{
    padding: 10px;
}

#nutritionContainer{
    display:flex;
    justify-content: center;
}

#nutritionFacts{
    width: 300px;
    border: solid 2px black;
    padding: 4px;
}

#nutritionTitle{
    font-weight: bolder;
    font-size: 26px;
    margin: 2px;
    border-bottom: solid 1px black;
}

#servingDiv{
    font-weight: bold;
    font-size:17px;
    margin: 2px;
    border-bottom: solid 10px black;
    display:flex;
    justify-content: space-between;
}
#caloriesDiv{
    font-weight: bold;
    font-size:26px;
    margin: 2px;
    border-bottom: solid 7px black;
    display:flex;
    justify-content: space-between;
}
#noCalories{
    font-weight: bold;
    font-size:18px;
    margin: 2px;
    border-bottom: solid 7px black;
}
#nutrientDiv{
    font-size:14px;
    font-weight:bold;
    border-bottom: solid 1px black;
    display:flex;
    justify-content: space-between;
}
#nutrientDivProtein{
    font-size:14px;
    font-weight:bold;
    border-bottom: solid 5px black;
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    #searchResultForm{
        display: grid;
        grid-template-columns: 100%;
    }
}